<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
</head>
<body>
<header th:insert="fragments.html :: style"> Adding Styles</header>
<div th:insert="fragments.html :: header"> Here is a menu of main functional </div>
<form id="edit-form" th:action="@{/edit(id=${book.id})}" th:method="post" action="edit.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Book Title:</label>
        <input id="title-input" name="title" type="text" th:value="${book.title}" value="Thinking in Java (4th Edition)"/>
    </div>

    <div class="row">
        <label for="first-name-input">Author First Name:</label>
        <input id="first-name-input" name="firstName" type="text" th:value="${book.author.firstName}" value="Bruce"/>
    </div>

    <div class="row">
        <label for="last-name-input">Author Second Name:</label>
        <input id="last-name-input" name="lastName" type="text" th:value="${book.author.lastName}" value="Eckel"/>
    </div>

    <div class="row">
        <label for="genre-input">Book Genre:</label>
        <input id="genre-input" name="genre" type="text" th:value="${book.genre.genre}" value="programming"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
