<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All comments</title>
<!--    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>-->
</head>
<body>
<header th:insert="fragments.html :: style"> Adding Styles</header>
<div th:insert="fragments.html :: header">Here is a menu of main functional</div>
<h1>Comments for all books</h1>
<table class="comments">
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Book</th>
    </tr>
    </thead>
    <tbody>
<!--    appending here-->
    </tbody>
    <script>
        $(function () {
            $.get('/api/comments').done(function (comments) {
                comments.forEach(function (comment) {
                    $('tbody').append(`
                    <tr>
                        <td>${comment.id}</td>
                        <td>${comment.text}</td>
                        <td>${comment.book.title}</td>
                    </tr>
                `)
                });
            })
        });
    </script>
</table>
</body>
</html>
